<main aria-labelledby="title">
    <h2 id="title">@ViewBag.TitleAssistance</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <h1 id="title">Entering your details:</h1>
        <p class="lead">If you are P1 (Pilot in control), navigate to the menu ontop, and press 'Enter launch details'.</p>
        <p class="lead">Once you have arrived to the page, if you are the ONLY pilot on the flight, only enter the details in the area under 'P1 (Pilot 1's) Details:'.</p>
        <p class="lead">If you have more than one pilot onboard, but not an instructor, enter the details under both areas, indicated 'P1 (Pilot 1's) Details:', and 'P1 (Pilot 1's) Details:'.</p>
        <p class="lead">If you have an instructor, please alert the instructor and request that they enter the details of the next flight on the 'Instructor's Details:' area.</p>
        <p class="lead">Once this has been done, please press 'Submit Details'. This will now send the details for your next flight to the controller.</p>
    </address>
    <address>
        <h1 id="title">Recommended devices:</h1>
        <p class="lead">This system can be accessed via any portable computer device, such as a mobile phone, laptop, and a tablet which has a wireless internet connection.</p>
        <p class="lead">A wireless internet connection must be available on your device to use this service.</p>
        <p class="lead">You must be connected to the airfield's internet (WiFi) to be able to use this service.</p>
    </address>
    <address>
        <h1 id="title">Alternative options:</h1>
        <p class="lead">If you are not able to use this system, please notify the nearest Controller, who will be able to provide you with assistance.</p>
    </address>
    <h2 id="gettingStartedTitle">Back to the homepage:</h2>
    <p><a class="btn btn-outline-dark" href="https://localhost:44346/">Home &raquo;</a></p>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@LCS.com</a><br />
        <strong>Suggestions:</strong> <a href="mailto:Marketing@example.com">Suggestions@LCS.com</a>
    </address>
</main>