
@{
    ViewBag.Title = "Login";
}

<h2><p>Enter your login details below</p></h2>
<p>These will be the same details used for your Membership Account</p>
<p>Email: </p>
<form>
    <input type="text" name="lastName" placeholder="Email">
</form>
<p>Membership Number: </p>
<form>
    <input type="text" name="lastName" placeholder="Membership Number">
</form>
<p>Account Password: </p>
<form>
    <input type="text" name="lastName" placeholder="Password">
</form>
<section class="col-md-4" aria-labelledby="Log in">
    <p>
    <p><a class="btn btn-outline-dark" href="https://localhost:44346/Home/About">Log in &raquo;</a></p>
    <h2 id="gettingStartedTitle">Home</h2>
    <p><a class="btn btn-outline-dark" href="https://localhost:44346/">Home &raquo;</a></p>
</section>
Install-Package Microsoft.AspNet.Identity.EntityFramework
