
@{
    ViewBag.Title = "Submitted";
}

<h1 id="title">Details Submitted</h1>
<p class="lead">Please continue on with your flight preparations.</p>
<p class="lead">If an error has been made in submitting details, please contact the Controller immediately.</p>
<h2 id="gettingStartedTitle">Home</h2>
<p>
    Back to the homepage.
</p>
<p><a class="btn btn-outline-dark" href="https://localhost:44346/">Home &raquo;</a></p>



