<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NEAControllerFormsApplication.Properties.Settings.LaunchControlSystemConnectionString" connectionString="Data Source=DESKTOP-CMMVASL\SQLEXPRESS;Initial Catalog=LaunchControlSystem;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
